@import "@/vars.css";

.container {
  color: var(--color-text);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height));
  margin-left: var(--margin-side-mobile);
  margin-right: var(--margin-side-mobile);
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: var(--margin-side-desktop);
  scroll-snap-align: start;
    margin-right: var(--margin-side-desktop);
  }
}

.title {
  font-size: var(--font-size-section-title);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

