@import "@/vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(180deg, #182f55 0%, #0e5c3f 100%);
  padding: 24px;
  max-width: 350px;
  width: 100%;
  z-index: 1;
  transition: transform var(--transition-fast);
  box-shadow: var(--shadow-standard);
}

.container:hover {
  transform: scale(1.02);
}

.image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  background: #5469ba;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: var(--font-size-card-title);
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin-bottom: 25px;
}

.skill {
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.skill img {
  width: 100%;
  object-fit: contain;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: auto;
}

.link {
  text-decoration: none;
  flex: 1;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  background: var(--color-primary);
  padding: 10px;
  border: 2px solid var(--color-primary);
  transition: all var(--transition-fast);
}

.link:hover {
  background-color: transparent;
  color: var(--color-primary);
}


