@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #182f55 0%, #0e5c3f 100%);
  padding: 18px 24px;
  max-width: 345px;
  z-index: 1;
}

.imageSkill {
  width:50px;
  height:50px;
}

.image {
  border-radius: 10px;
  background: #5469ba;
  box-shadow: 
      -8px -8px 16px rgba(0, 0, 0, 0.2),
      8px 8px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.techs {
  margin-top:6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}

.skill {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.link {
  text-decoration: none;
  display: inline-block;
  color: var(--color-text);
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  background: var(--color-primary);
  margin-top: 2rem;
  padding: 1rem;
  border: 3px solid var(--color-primary);
  box-sizing: border-box;
}

.link:hover {
  background-color: transparent;
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
}

