@import "@/vars.css";

.navbar {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  z-index: 30;
  backdrop-filter: blur(50px);
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 15px;
  z-index: 2;
  margin: 0 var(--margin-side-mobile);
}

@media screen and (min-width: 1024px) {
  .navContent {
    margin: 0 var(--margin-side-desktop);
    padding-top: 50px;
  }
}

.title {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
  text-decoration: none;
  color: var(--color-accent);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  color: var(--color-text);
  text-decoration: none;
  transition: color var(--transition-fast);
}

.menuItems a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 830px) {
  .navContent {
    padding-top: 20px;
    position: relative;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 50;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 30px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background-color: #142433;
    padding: 24px 33px;
    box-shadow: var(--shadow-standard);
  }

  .menuOpen {
    display: flex;
  }
}

